<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
	<Fragment>
		<ComponentGroup Id="CliComponents" Directory="INSTALLFOLDER">
			<Component>
				<File Source="$(var.HashCheck.Cli.TargetPath)" />
			</Component>
			<Component>
				<File Source="$(var.HashCheck.Cli.TargetDir)$(var.HashCheck.Cli.TargetName).exe" Name="hashcheck-cli.exe" />
				<Environment Id="AddToPath"
							 Name="PATH"
							 Value="[INSTALLFOLDER]"
							 Permanent="no"
							 Part="last"
							 Action="set"
							 System="yes" />
			</Component>
			<Component>
				<File Source="$(var.HashCheck.Cli.TargetDir)$(var.HashCheck.Cli.TargetName).runtimeconfig.json" />
			</Component>
			<Component>
				<File Source="$(var.HashCheck.Cli.TargetDir)$(var.HashCheck.Cli.TargetName).deps.json" />
			</Component>
		</ComponentGroup>
	</Fragment>
</Wix>
