<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
	<Fragment>
		<Component Id="ApplicationShortcut" Directory="ProgramMenuFolder">
			<Shortcut Id="ApplicationStartMenuShortcut"
									  Name="Hashcheck"
									  Description="Launch Hashcheck"
									  Target="[INSTALLFOLDER]Hashcheck.exe"
									  WorkingDirectory="INSTALLFOLDER" />
			<RegistryValue Root="HKCU" Key="Software\LukeMcDonald\HashCheck" Name="installed" Type="integer" Value="1" KeyPath="yes" />
		</Component>
	</Fragment>
</Wix>
